<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Bienvenido</title>
</head>
<body>
  <h2>Hola {{name}} 👋</h2>
  <p>Gracias por registrarte en nuestro sistema 🚀</p><br>
  <p>Ya estamos enviando correo con Template</p>
  <p>Ya estamos enviando correo con archivo pdf adjunto</p>
</body>
</html>